

body{
    
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 98%);
    
}
.header_section{
    display:flex;
    border:2px white solid;
    /* background-color: rgb(85, 184, 230); */
    background: rgba(240, 248, 255, 0.7);
    width:1100px;
    font-family: 'Courier New', Courier, monospace
}
.info_container{
    
    height:150px;
    border:2px black solid;
    margin:50px 5px 5px 4px;
    background-color: white;
    box-shadow: 10px 10px hotpink;
    flex-direction: column;
    align-items: flex-end;
}


#section1{

}

/* name and title description */
.box2 {
    font-family: 'Courier New', Courier, monospace;
    
    flex-direction: column;
    align-items: ;
    text-align: center;
margin: 30px 5px 5px 3px;
}

/* name heading 1 */
#h2 {
    font-size: 35px;
    
}

#h3 {
    font-size: 28px;
}
#h4{
    font-size:22px;
    color:rgb(95, 91, 91);
}
/* contact info_box */
.box1 {
background-color: white;
    border:black 2px solid;
    width: 245px;
    padding:5px;
    margin:8px 8px 14px 10px;
    box-shadow: 6px 6px hotpink;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    
}
/* headshot */
img {
    width:200px;
    height:275px;
    border-radius: 25% 25%;
    padding: 5px;
    margin: 7px;
    border:2px yellow solid;
    box-shadow: 2px 2px yellow;

}
/* bio box styling */
.bio_container{
    border:2px white solid;
    width:1085px;
    padding:8px;
    margin:10px 5px 5px 0px;
    background-color: rgba(240, 248, 255, 0.7)

}

/* content inside bio box  */
.bio_text{
    background-color:white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    border:black 3px solid;
    padding:15px;
    margin:5px;
    box-shadow: 6px 6px hotpink;
    border-radius: 3pc;
}


#education1 {
    margin:10px;
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;
    background-color:white;
    text-align:left;
    border: hotpink solid 2px;
   
}
#education1 li{
    list-style-type: none;
}

.employment_hist li {
    list-style-type: none;
}

.flex_container{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

article{
    
    border:2px black solid;
    width:540px;
    background-color:rgba(240, 248, 255, 0.7);
    margin:6px;

}


#program_skills{
    margin:10px;
    padding:8px;
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;
    background-color:white;
    text-align:left;
    border: hotpink solid 2px;
}

#profi_one{
    margin:10px;
    padding:8px;
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;
    background-color:white;
    text-align:left;
    border: hotpink solid 2px;
    justify-content: center;
}

.employment_hist{
    margin:10px;
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;
    background-color:white;
    text-align:left;
    border: hotpink solid 2px;
    justify-content: center;
}